@{
    ViewBag.Title = "О портале";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="jumbotron">
    <p>Данный портал призван популяризировать киберспорт среди людей еще не знакомых с данным явлением.</p>
    <p>Здесь вы можете узнать информацию о существующих киберспортивных дисциплинах(рассмотренных на нашем ресурсе), создать или вступить в уже созданнюу команду и начать соревноваться с другими игроками в рамках доступных турниров.</p>
    </div>