@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Кемерово в общем<br />
    Любимый КУЗГТУ<br />
    <abbr title="Телефон">P:</abbr>
    8-800-555-3535
</address>

<address>
    <strong>Помощь во всем:</strong>   <a href="https://vk.com/chizy_readonly">Владян</a>
</address>