
@{
    ViewBag.Title = "Cybersport";
}

<div class="jumbotron">
    <h1>О киберспорте</h1>
    <p class="lead">Киберспорт – (компьютерный спорт, е-спорт, электронный спорт (англ. cybersport, e-Sport, electronic sport) — вид соревновательной деятельности и специальной практики подготовки к соревнованиям на основе компьютерных и/или видеоигр, где игра предоставляет среду взаимодействия объектов управления, обеспечивая равные условия состязаний человека с человеком или команды с командой. Как вид спорта признан в России.</p>
</div>