@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Киберспортивный портал</h1>
    <p class="lead">Здравствуйте! Вы находитесь на сайте, созданном специально для киберспортсменов.</p>
    <p><a href="https://ru.wikipedia.org/wiki/Киберспорт" class="btn btn-primary btn-lg">Узнать о киберспорте на Wiki &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Зарегистрируйтесь</h2>
        <p>
            Чтобы начать пользоваться нашим сайтом следует пройти простую процедуру регистрации, также доступна регистрация через внешние ресурсы.
        </p>
        <p><a class="btn btn-default" href="~/Account/Register">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Отредактируйте свой профиль</h2>
        <p>Создайте свой киберспортивный профиль.</p>
        <p><a class="btn btn-default" href="~/Team/CreatePlayer">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Добавьте команду и игроков</h2>
        <p>Создайте команду в интересующей дисциплине и добавьте игроков.</p>
        <p><a class="btn btn-default" href="~/Team/Create">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Соревнуйтесь</h2>
        <p>Подавайте заявки на участие в турнирах и играйте!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Пока не доступно &raquo;</a></p>
    </div>
</div>