@{
    ViewBag.Title = "Игра CS: GO";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="nav text-center">
<p>Информационный ролик</p>
    <iframe width="500" height="300" src="http://www.youtube.com/embed/RzZ2bWZ_8Ho" frameborder="0" allowfullscreen></iframe>
    </div>
<p>Counter-Strike: Global Offensive — многопользовательская компьютерная игра, разработанная компаниями Valve и Hidden Path Entertainment. Последняя основная игра в серии игр Counter-Strike; как и все игры серии, она посвящена противостоянию террористов и подразделений специального назначения.</p>
<p>В данной дисциплине 2 команды по 5 человек играют на выбранной карте 2 периода по 15 раундов. Побеждает команда, которая первая наберет 16 раундов за 2 стороны. В случае если по истечении 2-х периодов команды имеют равное количество выигранных раундов, назначается 2 дополнительных периода по 3 раунда – овертаймы. В случае ничейного счета после двух дополнительных периодов, назначаются новые овертаймы, и так до определения победителя. </p>