@{
    ViewBag.Title = "Игра Dota 2";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="nav text-center">
    <p>Информационный ролик</p>
    <iframe width="500" height="300" src="http://www.youtube.com/embed/JK87XnaTSHM" frameborder="0" allowfullscreen></iframe>
</div>
<p>Dota 2  — компьютерная многопользовательская командная игра в жанре multiplayer online battle arena, разработанная Valve Corporation. Является независимым продолжением карты-модификации DotA для игры Warcraft III. Dota 2 работает по модели free-to-play с элементами микроплатежей.</p>
<p>В данной дисциплине соревнуются 2 команды по 5 человек. Выбранная сторона (Светь или Тьма) выпадает в результате жеребьевки. Играют матчи формата bo1(одна победа) bo2(2 победы, до 3х матчей в серии) bo3(3 победы, до 5 матчей в серии).</p>
