@{
    ViewBag.Title = "Игра League of legends";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="nav text-center">
    <p>Информационный ролик</p>
    <iframe width="500" height="300" src="http://www.youtube.com/embed/fmI_Ndrxy14" frameborder="0" allowfullscreen></iframe>
</div>
<p>League of Legends — видеоигра жанра MOBA (многопользовательская онлайн боевая арена), созданная командой разработчиков Riot Games для Microsoft Windows и Apple Macintosh[2]. Игра была выпущена 27 октября 2009 года. Распространяется по модели Free-to-play.</p>
<p>В данной дисциплине соревнуются 2 команды по 5 человек. Выбранная сторона (Светь или Тьма) выпадает в результате жеребьевки. Играют матчи формата bo1(одна победа) bo2(2 победы, до 3х матчей в серии) bo3(3 победы, до 5 матчей в серии).</p>


